{% extends 'base.html' %}

{% block head %}
<title>Centrum Krwi - {{session['login']}}</title>
{% endblock %}

{% block body %}
<div class="margin-under-nav padding-all">
    <section class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <a type=button class="btn btn-secondary mb-3" href="/panel" onclick="">Powrót</a>
                    <a class="btn btn-danger mb-3" href="/nowaRejestracja" role="button">Nowa rejestracja</a>
                </div>
            </div>
        </div>
    </section>

    {% if wizyty|length < 1 %}
    <div><h4>Nie masz żadnych rejestracji</h4></div>
    {% else %}
    <table id="display-table">
        <tr>
            <th>Data</th>
            <th>Godzina</th>
            <th>Placówka</th>
            <th>Akcje</th>
        </tr>
        {% for wizyta in wizyty %}
            <tr>
                <td>
                    {{wizyta['data']}}
                </td>
                <td>
                    {{wizyta['godzina']}}
                </td>
                <td>
                    {{wizyta['nazwa']}}
                </td>
                <td>
                    {% if not wizyta['id_wywiadu'] %}
                    <a class="btn btn-danger mt-1 mb-1" href="/rejestracje/{{wizyta['id_wizyty']}}" role="button">Odwołaj wizytę</a>
                    {% endif %}
                    {% if not wizyta['id_ankiety'] %}
                    <a class="btn btn-secondary" href="/ankieta/{{wizyta['id_wizyty']}}" role="button">Dodaj ankietę</a>
                    {% elif not wizyta['id_wywiadu'] %}
                    <a class="btn btn-secondary" href="/usunAnkiete/{{wizyta['id_ankiety']}}" role="button">Usuń ankietę</a>
                    {% else %}
                    Wizyta już się odbyła.
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    
</div>
{% endblock %}